body {
    background-color: gray;
}

.title {
	color:rgb(200, 82, 0);
}

.page {
    width: 1200px;
    background-color: whitesmoke;
    margin: auto;
    padding: 100px;
    padding-top: 0px;
}

.vis-container {
	margin-bottom: 25px;
}

.vega-bind {
	padding: 10pt;
	font-family: 'Noto Sans Display', sans-serif;
	font-size: 15pt;
	text-align: center;
}

h1 {
	color:rgb(200, 82, 0);
	font-family: 'Akronim', cursive;
	text-align: left;
	font-weight: 550;
	font-size: 65pt;
}

h2 {
	font-family: 'Noto Sans Display', sans-serif;
	text-align: left;
	font-weight: bolder;
	font-size: 20pt;
	margin: 5px;
	margin-left:0px;
}

h3 {
	font-family: 'Noto Sans Display', sans-serif;
	text-align: left;
	font-weight: bold;
	font-size: 16pt;
}

p, ul, li {
	font-family: 'Noto Sans Display', sans-serif;
	font-weight: normal;
	font-size: 12pt;
}

.natural{
	color:rgb(174, 156, 69) ;
	font-weight: bold;
}

.accidental{
	color: rgb(17, 112, 170);
	font-weight: bold;
}

.undetermined{
	color: rgb(87, 96, 108);
	font-weight: bold;
}

.deliberate{
	color: rgb(200, 82, 0);
	font-weight: bold;
}

.planned{
	color: rgb(96, 115, 177);
	font-weight: bold;
}      
              