body {
    background-color: gray;
}

.page {
    width: 1500px;
    background-color: whitesmoke;
    margin: auto;
    padding: 50px;
    padding-top: 0px;
}

.vis-container {
    width: 100%;
	padding: 50pt;
}

.vega-bind {
	padding: 10pt;
	font-family: 'Exo', sans-serif;
	font-size: 15pt;
	text-align: center;
}

.pure-g {
    margin-bottom: 25px;
	margin-right: 25px;
	margin-left: 25px;
}

h1 {
	color: "darkgrey";
	font-family: 'Akronim', cursive;
	text-align: left;
	font-weight: 550;
	font-size: 80pt;
}

h2 {
	font-family: 'Exo', sans-serif;
	text-align: left;
	font-weight: bolder;
	font-size: 30pt;
}

p {
	font-family: 'Exo', sans-serif;
	font-weight: bold;
	font-size: 14pt;
}

.natural{
	color:rgb(163, 172, 185) ;
	font-weight: bolder;
	font-size: 20pt;
}

.accidental{
	color: rgb(17, 112, 170);
	font-weight: bolder;
	font-size: 20pt;
}

.undetermined{
	color: rgb(87, 96, 108);
	font-weight: bolder;
	font-size: 20pt;
}

.deliberate{
	color: rgb(200, 82, 0);
	font-weight: bolder;
	font-size: 20pt;
}

.planned{
	color: rgb(163, 204, 233);
	font-weight: bolder;
	font-size: 20pt;
}      
              